.footer-top
  .footer-top__all
    .footer-top__all__left
      .footer-top__all__left__1
        スマホでかんたんフリマアプリ
      .footer-top__all__left__2
        今すぐ無料ダウンロード！
      .footer-top__all__left__3
        = image_tag("logo_red.svg", class: "mercari")
        = image_tag("app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "apple")
        = image_tag("google-play-495575abb895b405aa6336b2a4304958.svg", class: "google")
    .footer-top__all__right
      = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",class: "", size: "400x400", alt: "mercari")
