.toppage
  .toppage_header
    .toppage_header__logo
      mercari
    %form.toppage_header__search
      %input 何かお探しですか?
    

.choice
  .choice__category
    カテゴリーから探す
  .choice__brand
    ブランドから探す
  .choice__good
    いいね！一覧
  .choice__information
    お知らせ
  .choice__todolist
    やることリスト 
  .choice__mypage
    マイページ


.picture1
  .picture1__body
    .picture1__body__middle
      .picture1__text1
        %h1スマホで
        %h2かんたん
        %br
        フリマアプリ
      .picture1__text2
        メルカリはスマホカメラからすぐ出品できる
        %br
        購入時も安心な独自システムのアプリです
      .picture1__url
        

.major-choice
  %h1 人気のカテゴリー

.major-category
  .major__women
    レディース
  .major__men
    メンズ
  .major__home
    家電・スマホ・カメラ
  .major__hobby
    おもちゃ・ホビー・グッズ

.new_item__category
  あ
  .new_item__women
  .new_item__men
  .new_item__home
  .new_item__hobby

.major-brand
  %h1 人気のブランド

.brand-category
  .brand__chanel
    シャネル
  .brand__vuitton
    ルイヴィトン
  .brand__supreme
    シュプリーム
  .brand__nike
    ナイキ

.new_major__category
  あ
  .new_chanel_item
  .new_vuiiton_item
  .new_supreme_item
  .new_nike__item

.picture2
  .picture2__body