-# %header.toppage__header
-#   .toppage__header
-#     .toppage__header__top
-#       .toppage__header__logo
-#         = image_tag("fmarket_logo_red.svg", class: "img", size: "100×100", alt: "mercari")
-#       .toppage__header__search
-#         %input{ name: '', class: 'toppage__header__search__form',placeholder: '何かお探しですか？' }
-#         = icon('fas', 'search', alt: 'search-icon',class: 'topppage__header__search__button')

-# .choice
-#   .choice__category
-#     = icon('fas', 'list-ul ', style: 'color:red',class: 'choice__category__icon')
-#     カテゴリーから探す
-#     -# .choice__category__large
-#     -#   レディース
-#     -#   .choice__category__large__medium
-#     -#     トップス
-#     -#     .choice__category__large__medium__small
-#     -#       Tシャツ/カットソー（半袖/袖なし）
-#     -#       Tシャツ/カットソー（七分/長袖）
-#     -#       シャツ/ブラウス（半袖/袖なし）
-#     -#       シャツ/ブラウス（七分/長袖）
-#     -#       ポロシャツ
-#     -#       キャミソール
-#     -#       タンクトップ
-#     -#       ホルターネック
-#     -#       ニット/セーター
-#     -#       チュニック
-#     -#       カーディガン/ボレロ
-#     -#       アンサンブル
-#     -#       ベスト/ジレ
-#     -#       パーカー
-#     -#   .choice__category__large__medium
-#     -#     ジャケット/アウター
-#     -#     .choice__category__large__medium__small
-#     -#       テーラードジャケット
-#     -#       ノーカラージャケット
-#     -#       Gジャン/デニムジャケット
-#     -#       レザージャケット
-#     -#       ダウンジャケット
-#     -#       ライダースジャケット
-#     -#       ミリタリージャケット
-#     -#       ダウンベスト
-#     -#       ジャンパー/ブルゾン
-#     -#       ポンチョ
-#     -#       ロングコート
-#     -#       トレンチコート
-#     -#       ダッフルコート
-#     -#       ピーコート
-#     -#   .choice__category__large__medium
-#     -#     パンツ
-#     -#     .choice__category__large__medium__small
-#     -#       デニム/ジーンズ
-#     -#       ショートパンツ
-#     -#       カジュアルパンツ
-#     -#       ハーフパンツ
-#     -#       チノパン
-#     -#       ワークパンツ/カーゴパンツ
-#     -#       クロップドパンツ
-#     -#       サロペット/オーバーオール
-#     -#       オールインワン
-#     -#       サルエルパンツ
-#     -#       ガウチョパンツ
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     スカート
-#     -#     .choice__category__large__medium__small
-#     -#       ミニスカート
-#     -#       ひざ丈スカート
-#     -#       ロングスカート
-#     -#       キュロット
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     ワンピース
-#     -#     .choice__category__large__medium__small
-#     -#       ミニワンピース
-#     -#       ひざ丈ワンピース
-#     -#       ロングワンピース
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     靴
-#     -#     .choice__category__large__medium__small
-#     -#       ハイヒール/パンプス
-#     -#       ブーツ
-#     -#       サンダル
-#     -#       スニーカー
-#     -#       ミュール
-#     -#       モカシン
-#     -#       ローファー/革靴
-#     -#       フラットシューズ/バレエシューズ
-#     -#       長靴/レインシューズ
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     ルームウェア/パジャマ
-#     -#     .choice__category__large__medium__small
-#     -#       パジャマ
-#     -#       ルームウェア
-#     -#   .choice__category__large__medium
-#     -#     レッグウェア
-#     -#     .choice__category__large__medium__small
-#     -#       ソックス
-#     -#       スパッツ/レギンス
-#     -#       ストッキング/タイツ
-#     -#       レッグウォーマー
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     帽子
-#     -#     .choice__category__large__medium__small
-#     -#       ニットキャンプ/ビーニー
-#     -#       ハット
-#     -#       ハンチング/ベレー帽
-#     -#       キャップ
-#     -#       キャスケット
-#     -#       麦わら帽子
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     バッグ
-#     -#     .choice__category__large__medium__small
-#     -#       ハンドバッグ
-#     -#       トートバッグ
-#     -#       エコバッグ
-#     -#       リュック/バックパック
-#     -#       ボストンバッグ
-#     -#       スポーツバッグ
-#     -#       ショルダーバッグ
-#     -#       クラッチバッグ
-#     -#       ポーチ/バニティ
-#     -#       ボディバッグ/ウェストバッグ
-#     -#       マザーズバッグ
-#     -#       メッセンジャーバッグ
-#     -#       ビジネスバッグ
-#     -#       旅行用バッグ/キャリーバッグ
-#     -#   .choice__category__large__medium
-#     -#     アクセサリー
-#     -#     .choice__category__large__medium__small
-#     -#       ネックレス
-#     -#       ブレスレット
-#     -#       バングル/リストバンド
-#     -#       リング
-#     -#       ピアス（片耳用）
-#     -#       ピアス（両耳用）
-#     -#       イヤリング
-#     -#       アンクレット
-#     -#       ブローチ/コサージュ
-#     -#       チャーム
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     ヘアアクセサリー
-#     -#     .choice__category__large__medium__small
-#     -#       ヘアゴム/シュシュ
-#     -#       ヘアバンド/カチューシャ
-#     -#       ヘアピン
-#     -#       その他
-#     -#   .choice__category__large__medium
-#     -#     小物
-#     -#     .choice__category__large__medium__small
-#     -#       長財布
-#     -#       折り財布
-#     -#       コインケース/小銭入れ
-#     -#       名刺入れ/定期入れ
-#     -#       キーケース
-#     -#       キーホルダー
-#     -#       手袋/アームカバー
-#     -#       ハンカチ
-#     -#       ベルト
-#     -#       マフラー/ショール
-#     -#       ストール/スヌード
-#     -#       バンダナ/スカーフ
-#     -#       サスペンダー
-#     -#   .choice__category__large__medium
-#     -#     時計
-#     -#     .choice__category__large__medium__small
-#     -#       腕時計（アナログ）
-#     -#       腕時計（デジタル）
-#     -#       ラバーベルト
-#     -#       レザーベルト
-#     -#       金属ベルト
-#     -#       その他

-#       -# メンズ
-#       -# ベビー・キッズ
-#       -# インテリア・住まい・小物
-#       -# 本・音楽・ゲーム
-#       -# オモチャ・ホビー・グッズ
-#       -# コスメ・香水・美容
-#       -# 家電・スマホ・カメラ
-#       -# スポーツ・レジャー
-#       -# ハンドメイド
-#       -# チケット
-#       -# 自電車・オートバイ
-#       -# その他
-#   .choice__brand
-#     = icon('fas', 'tag ',style: 'color:red', class: 'choice__brand__icon')
-#     ブランドから探す
-#   .choice__management
-#     .choice__management__good
-#       = icon('far', 'heart ',style: 'color:gray', class: 'choice__good__icon')
-#       いいね！一覧
-#     .choice__management__information
-#       = icon('far', 'bell',style: 'color:gray', class: 'choice__infomation__icon')
-#       お知らせ
-#     .choice__management__todolist
-#       = icon('fas', 'check',style: 'color:gray', class: 'choice__todolist__icon')
-#       やることリスト
-#     .choice__management__mypage
-#       = icon('fas', 'user', style: 'color:gray', class: 'choice__mypsge__icon')
-#       マイページ

.picture1__scroll
  .picture1__scroll__scroll1
    .div1 スマホでかんたん
    .div2 フリマアプリ
    .div3 メルカリはスマホカメラからすぐ出品できる
    .div4 購入時も安心な独自システムのアプリです
    .div5
      .div5__class1
        = image_tag("app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "apple")
      .div5__class2
        = image_tag("google-play-495575abb895b405aa6336b2a4304958.svg", class: "google")
  .picture1__scroll__scroll2
.picture1__body
  .picture1__body__middle
      

.major-choice
  %h1 人気のカテゴリー

.major-category
  .major__women
    レディース
  .major__men
    メンズ
  .major__home
    家電・スマホ・カメラ
  .major__hobby
    おもちゃ・ホビー・グッズ

-# .new_item__category
  
-#   .new_item__women
-#   .new_item__men
-#   .new_item__home
-#   .new_item__hobby

-# .major-brand
-#   %h1 人気のブランド

-# .brand-category
-#   .brand__chanel
-#     シャネル
-#   .brand__vuitton
-#     ルイヴィトン
-#   .brand__supreme
-#     シュプリーム
-#   .brand__nike
-#     ナイキ

-# .new_major__category
-#   .new_chanel_item
-#   .new_vuiiton_item
-#   .new_supreme_item
-#   .new_nike__item