.picture1__scroll__scroll2
  =image_tag(src= "banner.jpg", class: "scroll2_link")

.lp-item-list
  - items_list = @items
  - items_list.each do |item|
  - image = item.images[0]
    .lp-item-list__items__item
      = link_to item_path(item) do
        .lp-item-list__items__item__main
          #image-box
            = image_tag image.src.url, width: '180', height: '180'
          .lp-item-list__items__item__main__price
            ¥
            = (item.price * 0.5).round
        .lp-item-list__items__item__name
          = item.name
