.user-new-registration
  .user-new-registration__completion-registration__header
    = image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo")
    .user-new-registration__completion-registration__header__navi
      .user-new-registration__completion-registration__header__navi__charts
        .user-new-registration__completion-registration__header__navi__charts__info
          会員情報
        .user-new-registration__completion-registration__header__navi__charts__tele
          電話番号認証
        .user-new-registration__completion-registration__header__navi__charts__address
          お届け先住所入力
        .user-new-registration__completion-registration__header__navi__charts__pay
          支払い方法
        .user-new-registration__completion-registration__header__navi__charts__end
          完了
      .user-new-registration__completion-registration__header__navi__arrow
        .user-new-registration__completion-registration__header__navi__arrow__info
          ●
        .user-new-registration__completion-registration__header__navi__arrow__info-line
          %hr
        .user-new-registration__completion-registration__header__navi__arrow__tele
          ●
        .user-new-registration__completion-registration__header__navi__arrow__tele-line
          %hr
        .user-new-registration__completion-registration__header__navi__arrow__address
          ●
        .user-new-registration__completion-registration__header__navi__arrow__tele-line
          %hr
        .user-new-registration__completion-registration__header__navi__arrow__pay
          ●
        .user-new-registration__completion-registration__header__navi__arrow__pay-line
          %hr
        .user-new-registration__completion-registration__header__navi__arrow__end
          ●

  .user-new-registration__completion-registration__forms
    .user-new-registration__completion-registration__forms__header
      会員登録完了
    .user-new-registration__completion-registration__forms__menus
      .user-new-registration__completion-registration__forms__menus__contents
        ありがとうございます。
        %br 会員登録が完了しました。
      .user-new-registration__completion-registration__forms__menus__start
        = link_to "メルカリをはじめる", root_path

  .user-new-registration__footer
    .user-new-registration__footer__links
      .user-new-registration__footer__links__policy
        プライバシーポリシー
      .user-new-registration__footer__links__terms
        メルカリ利用規約
      .user-new-registration__footer__links__commerce
        特定商取引に関する表記
    .user-new-registration__footer__mercari
      = image_tag("logo_gray.svg", class: ".user-new-registration__footer__mercari__logo", size: "80x65", alt: "logo")
      .user-new-registration__footer__mercari__copyright
        ©️ Mercari, Inc.