-# 商品出品ページ

.exhibit
  .header
    .header__logo
      mercari
  .main
    .main__container
      %p t
      %p t
      %p a
      %p s
      %p s
      %p c
  .footer
    .footer__container
      .footer__container--nav
        test3
      .footer__container--logo
        logo
      .footer__container--copyright
        Mercari, Inc.
