-# 商品出品ページ

.exhibit
  .header
    .header__logo
      .header__btn
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.cls-1{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 1</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>

  .main
    .main__container
      .container__title
        商品の情報を入力

      .form__container
        .form__image
          .image__title
            出品画像
            .form__require
              必須
            %p 最大10枚までアップロードできます
          .image__drop
            .drop__text
              .drop__text--sentence
                %p ドラッグアンドドロップ
                %p またはクリックしてファイルをダンロード

        .form__content
          .item__name
            .item__name--title
              商品名
              .form__require
                必須
            .item__name--form
              .form__text
                商品名（最大40字以内)

          .item__description
            .item__description__title
              .description__title__text
                商品の説明
                .form__require
                  必須
            .item__description__form
              .description__form__text
                商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。

        .form__details
          .form__details__title
            商品の詳細
          .details__right
            .form__group
              .details__title
                カテゴリー
              .details__category__menu
                プルダウン
            .form__group
              .details__title
                商品の状態
              .datails__status__menu
                プルダウン

        .form__delivery
          .form__delivery__title
            配送について
          .form__delivery__group
            .form__group
              .delivery__title
                配送料の負担
              .delivery__menu
                プルダウン
            .form__group
              .delivery__title
                配送元の地域
              .delivery__menu
                プルダウン
            .form__group
              .delivery__title
                配送までの日数
              .delivery__menu
                プルダウン

        .form__sale
          .form__sale__title
            販売価格
          .form__group
            .sale__group__content
              .sale__title
                .sale__title__price
                  価格
                  .form__require
                    必須
                .sale__title__box
                  .price__input
                    例）100
              .sale__commission
                手数料
              .sale__menu
                販売利益

        .form__exhibit
          .exhibit__description
          %p 禁止されている出品、行為を必ずご確認ください
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。

          .exhibit__sell
            出品する
          .exhibit__back
            もどる

  .footer
    .footer__container
      .footer__container--nav
        .li
          プライバシーポリシー
        .li
          利用規約
        .li
          特定商取引に関する表記
      .footer__container--logo
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.cls-1{fill:#fff;stroke:#b53d22;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 1</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
      .footer__container--copyright
        Fmaret, Inc.
