.header

.container
  .container__item-name 商品名
  .container__item
    .details-container
      #main-image= image_tag src="/assets/sample_img1.jpeg", data: {url: "/assets/sample_img1.jpeg"}, size: "260x260"

      .thumbnails-frame
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img1.jpeg", data: {url: "/assets/sample_img1.jpeg"}, size: "50x50"
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img2.jpeg", data: {url: "/assets/sample_img2.jpeg"}, size: "50x50"
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img1.jpeg", data: {url: "/assets/sample_img1.jpeg"}, size: "50x50"
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img2.jpeg", data: {url: "/assets/sample_img2.jpeg"}, size: "50x50"
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img1.jpeg", data: {url: "/assets/sample_img1.jpeg"}, size: "50x50"
        .thumbnails-frame__thumbnail=image_tag src="/assets/sample_img2.jpeg", data: {url: "/assets/sample_img2.jpeg"}, size: "50x50"

    %table
      %tr
        %th.widerow 出品者
        %td 出品者名
      %tr
        %th.widerow カテゴリー
        %td カテゴリー名
      %tr
        %th ブランド
        %td ブランド名
      %tr
        %th 商品のサイズ
        %td サイズ
      %tr
        %th 商品の状態
        %td ステータス
      %tr
        %th 配送料の負担
        %td 金額
      %tr
        %th 配送の方法
        %td 方法
      %tr
        %th 配送元の地域
        %td 地域
      %tr
        %th 配送日の目安
        %td 目安

  .price-frame
    .price-frame__price 300000
    .price-frame__text (税込)
    .price-frame__delivery-burden 送料込み
  
  .buy-btn
    .buy-btn__text 購入画面に進む

  .description 商品説明
  
  .item-footer
    .item-footer__btns
      .radius
        □
        いいね！
        3
      .radius
        □
        不適切な商品の報告
    .item-footer__link
      □
      あんしん・あんぜんへの取り組み

.link-frame
  %a 前の商品
  %a 次の商品

.container
  %i.fab.fa-facebook-square.fa-3x
  %i.fab.fa-twitter-square.fa-3x

.footer