.user-new-registration
  .user-new-registration__user-address__header
    = image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo")
    .user-new-registration__user-address__header__navi
      .user-new-registration__user-address__header__navi__charts
        .user-new-registration__user-address__header__navi__charts__info
          会員情報
        .user-new-registration__user-address__header__navi__charts__tele
          電話番号認証
        .user-new-registration__user-address__header__navi__charts__address
          お届け先住所入力
        .user-new-registration__user-address__header__navi__charts__pay
          支払い方法
        .user-new-registration__user-address__header__navi__charts__end
          完了
      .user-new-registration__user-address__header__navi__arrow
        .user-new-registration__user-address__header__navi__arrow__info
          ●
        .user-new-registration__user-address__header__navi__arrow__tele
          ●
        .user-new-registration__user-address__header__navi__arrow__address
          ●
        .user-new-registration__user-address__header__navi__arrow__pay
          ●
        .user-new-registration__user-address__header__navi__arrow__end
          ●

  .user-new-registration__user-address__forms
    .user-new-registration__user-address__forms__header
      発送元・お届け先住所入力
    .user-new-registration__user-address__forms__menus
      .user-new-registration__user-address__forms__menus__namae-kanji
        .user-new-registration__user-address__forms__menus__namae-kanji__label
          .user-new-registration__user-address_forms__menus__namae-kanji__label__title
            お名前
          .user-new-registration__user-address__forms__menus__namae-kanji__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__namae-kanji__form{name: "namae-kanji-myouji", placeholder: "例）メルカリ", type: "text"}
        %input.user-new-registration__user-address__forms__menu__namae-kanji__form{name: "namae-kanji-namae", placeholder: "例）太郎", type: "text"}

      .user-new-registration__user-address__forms__menus__namae-kana
        .user-new-registration__user-address__forms__menus__namae-kana__label
          .user-new-registration__user-address__forms__menus__namae-kana__label__title
            お名前カナ
          .user-new-registration__user-address__forms__menus__namae-kana__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__namae-kana__form{name: "namae-kana-myouji", placeholder: "例）メルカリ", type: "text"}
        %input.user-new-registration__user-address__forms__menu__namae-kana__form{name: "namae-kana-namae", placeholder: "例）タロウ", type: "text"}

      .user-new-registration__user-address__forms__menus__zip-code
        .user-new-registration__user-address__forms__menus__zip-code__label
          .user-new-registration__user-address__forms__menus__zip-code__label__title
            郵便番号
          .user-new-registration__user-address__forms__menus__zip-code__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__zip-code__form{name: "zip-code", placeholder: "例）123-4567", type: "password"}

      .user-new-registration__user-address__forms__menus__prefectures
        .user-new-registration__user-address__forms__menus__prefectures__label
          .user-new-registration__user-address__forms__menus__prefectures__label__title
            都道府県
          .user-new-registration__user-address__forms__menus__prefectures__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__prefectures__form{name: "prefectures", placeholder: "北海道", type: "password"}

      .user-new-registration__user-address__forms__menus__municipalities
        .user-new-registration__user-address__forms__menus__municipalities__label
          .user-new-registration__user-address__forms__menus__municipalities__label__title
            市区町村
          .user-new-registration__user-address__forms__menus__municipalities__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__municipalities__form{name: "municipalities", placeholder: "例）横浜市緑区", type: "password"}

      .user-new-registration__user-address__forms__menus__address
        .user-new-registration__user-address__forms__menus__address__label
          .user-new-registration__user-address__forms__menus__address__label__title
            番地
          .user-new-registration__user-address__forms__menus__address__label__must
            必須
        %input.user-new-registration__user-address__forms__menu__address__form{name: "address", placeholder: "例）青山1-1-1", type: "password"}

      .user-new-registration__user-address__forms__menus__building
        .user-new-registration__user-address__forms__menus__building__label
          .user-new-registration__user-address__forms__menus__building__label__title
            建物名
          .user-new-registration__user-address__forms__menus__building__label__must
            任意
        %input.user-new-registration__user-address__forms__menu__building__form{name: "building", placeholder: "例）柳ビル103", type: "password"}

      .user-new-registration__user-address__forms__menus__phone-number
        .user-new-registration__user-address__forms__menus__phone-number__label
          .user-new-registration__user-address__forms__menus__phone-number__label__title
            電話
          .user-new-registration__user-address__forms__menus__phone-number__label__must
            任意
        %input.user-new-registration__user-address__forms__menu__phone-number__form{name: "password", placeholder: "例）柳ビル103", type: "password"}

      .user-new-registration__user-address__forms__menus__next
        次へ進む

  .user-new-registration__footer
    .user-new-registration__footer__links
      .user-new-registration__footer__links__policy
        プライバシーポリシー
      .user-new-registration__footer__links__terms
        メルカリ利用規約
      .user-new-registration__footer__links__commerce
        特定商取引に関する表記
    .user-new-registration__footer__mercari
      = image_tag("logo_gray.svg", class: ".user-new-registration__footer__mercari__logo", size: "80x65", alt: "logo")
      .user-new-registration__footer__mercari__copyright
        ©️ Mercari, Inc.