.user-new-registration
  .user-new-registration__user-infomation__header
    = image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo")
    .user-new-registration__user-infomation__header__navi
      .user-new-registration__user-infomation__header__navi__charts
        .user-new-registration__user-infomation__header__navi__charts__info
          会員情報
        .user-new-registration__user-infomation__header__navi__charts__tele
          電話番号認証
        .user-new-registration__user-infomation__header__navi__charts__address
          お届け先住所入力
        .user-new-registration__user-infomation__header__navi__charts__pay
          支払い方法
        .user-new-registration__user-infomation__header__navi__charts__end
          完了
      .user-new-registration__user-infomation__header__navi__arrow
        .user-new-registration__user-infomation__header__navi__arrow__info
          ●
        .user-new-registration__user-infomation__header__navi__arrow__tele
          ●
        .user-new-registration__user-infomation__header__navi__arrow__address
          ●
        .user-new-registration__user-infomation__header__navi__arrow__pay
          ●
        .user-new-registration__user-infomation__header__navi__arrow__end
          ●

  .user-new-registration__user-infomation__forms
    .user-new-registration__user-infomation__forms__header
      会員情報入力
    .user-new-registration__user-infomation__forms__menus
      .user-new-registration__user-infomation__forms__menus__nickname
        .user-new-registration__user-infomation__forms__menus__nickname__label
          .user-new-registration__user-infomation__forms__menus__nickname__label__title
            ニックネーム
          .user-new-registration__user-infomation__forms__menus__nickname__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menu__nickname__form{name: "nickname", placeholder: "例）メルカリ太郎", type: "text"}

      .user-new-registration__user-infomation__forms__menus__mailaddress
        .user-new-registration__user-infomation__forms__menus__mailaddress__label
          .user-new-registration__user-infomation__forms__menus__mailaddress__label__title
            メールアドレス
          .user-new-registration__user-infomation__forms__menus__mailaddress__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menu__mailaddress__form{name: "mailaddress", placeholder: "PC・携帯どちらでも可", type: "email"}

      .user-new-registration__user-infomation__forms__menus__password
        .user-new-registration__user-infomation__forms__menus__password__label
          .user-new-registration__user-infomation__forms__menus__password__label__title
            パスワード
          .user-new-registration__user-infomation__forms__menus__password__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menu__password__form{name: "password", placeholder: "7文字以上の半角英数字", type: "password"}
        .user-new-registration__user-infomation__forms__menus__password__attention
          ※英字と数字の両方を含めて設定してください。
        %input.user-new-registration__user-infomation__forms__menus__password__display{name: "password-display", type: "checkbox"}
          パスワードを表示する

      .user-new-registration__user-infomation__forms__menus__conform
        .user-new-registration__user-infomation__forms__menus__conform__title
          本人確認
        .user-new-registration__user-infomation__forms__menus__conform__content
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開させることはありません。

      .user-new-registration__user-infomation__forms__menus__name-kanji
        .user-new-registration__user-infomation__forms__menus__name-kanji__label
          .user-new-registration__user-infomation__forms__menus__name-kanji__label__title
            お名前（全角）
          .user-new-registration__user-infomation__forms__menus__name-kanji__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menus__name-kanji__form{name: "name-kanji-muyouji", placeholder: "例）山田", type: "text"}
        %input.user-new-registration__user-infomation__forms__menus__name-kanji__form{name: "name-kanji-namae", placeholder: "例）彩", type: "text"}

      .user-new-registration__user-infomation__forms__menus__name-kana
        .user-new-registration__user-infomation__forms__menus__name-kana__label
          .user-new-registration__user-infomation__forms__menus__name-kana__label__title
            お名前（カナ）
          .user-new-registration__user-infomation__forms__menus__name-kana__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menus__name-kana__form{name: "name-kana-muyouji", placeholder: "例）ヤマダ", type: "text"}
        %input.user-new-registration__user-infomation__forms__menus__name-kana__form{name: "name-kana-namae", placeholder: "例）アヤ", type: "text"}

      .user-new-registration__user-infomation__forms__menus__birthday
        .user-new-registration__user-infomation__forms__menus__birthday__label
          .user-new-registration__user-infomation__forms__menus__birthday__label__title
            生年月日
          .user-new-registration__user-infomation__forms__menus__birthday__label__must
            必須
        %input.user-new-registration__user-infomation__forms__menu__birthday__form{name: "birthday-year", placeholder: "--", type: "number"}
          年
        %input.user-new-registration__user-infomation__forms__menu__birthday__form{name: "birthday-month", placeholder: "--", type: "number"}
          月
        %input.user-new-registration__user-infomation__forms__menu__birthday__form{name: "birthday-day", placeholder: "--", type: "number"}
          日

      .user-new-registration__user-infomation__forms__menus__note
        ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      .user-new-registration__user-infomation__forms__menus__agreement
        「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします

      .user-new-registration__user-infomation__forms__menus__next
        次へ進む

      .user-new-registration__user-infomation__forms__menus__about
        本人情報の登録について＞

      .user-new-registration__user-infomation__forms__menus__add-agreement
        This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.


  .user-new-registration__footer
    .user-new-registration__footer__links
      .user-new-registration__footer__links__policy
        プライバシーポリシー
      .user-new-registration__footer__links__terms
        メルカリ利用規約
      .user-new-registration__footer__links__commerce
        特定商取引に関する表記
    .user-new-registration__footer__mercari
      = image_tag("logo_gray.svg", class: ".user-new-registration__footer__mercari__logo", size: "80x65", alt: "logo")
      .user-new-registration__footer__mercari__copyright
        ©️ Mercari, Inc.