.user-new-registration
  .user-new-registration__user-pay__header
    = image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo")
    .user-new-registration__user-pay__header__navi
      .user-new-registration__user-pay__header__navi__charts
        .user-new-registration__user-pay__header__navi__charts__info
          会員情報
        .user-new-registration__user-pay__header__navi__charts__tele
          電話番号認証
        .user-new-registration__user-pay__header__navi__charts__address
          お届け先住所入力
        .user-new-registration__user-pay__header__navi__charts__pay
          支払い方法
        .user-new-registration__user-pay__header__navi__charts__end
          完了
      .user-new-registration__user-pay__header__navi__arrow
        .user-new-registration__user-pay__header__navi__arrow__info
          ●
        .user-new-registration__user-pay__header__navi__arrow__tele
          ●
        .user-new-registration__user-pay__header__navi__arrow__address
          ●
        .user-new-registration__user-pay__header__navi__arrow__pay
          ●
        .user-new-registration__user-pay__header__navi__arrow__end
          ●

  .user-new-registration__user-pay__forms
    .user-new-registration__user-pay__forms__header
      支払い方法
    .user-new-registration__user-pay__forms__menus
      .user-new-registration__user-pay__forms__menus__card-number
        .user-new-registration__user-pay__forms__menus__card-number__label
          .user-new-registration__user-pay__forms__menus__card-number__label__title
            カード番号
          .user-new-registration__user-pay__forms__menus__card-number__label__must
            必須
        %input.user-new-registration__user-pay__forms__menu__card-number__form{name: "card-number", placeholder: "半角数字のみ", type: "text"}
        .user-new-registration__user-pay__forms__menus__card-number__images
          .user-new-registration__user-pay__forms__menus__card-number__images__visa
            VISA
          .user-new-registration__user-pay__forms__menus__card-number__images__master
            master
          .user-new-registration__user-pay__forms__menus__card-number__images__saison
            SAISON
          .user-new-registration__user-pay__forms__menus__card-number__images__jcb
            JCB

      .user-new-registration__user-pay___forms__menus__deadline
        .user-new-registration__user-pay__forms__menus__deadline__label
          .user-new-registration__user-pay__forms__menus__deadline__label__title
            有効期限
          .user-new-registration__user-pay__forms__menus__deadline__label__must
            必須
        %input.user-new-registration__user-pay__forms__menu__deadline_form{name: "deadline-month", placeholder: "01", type: "number"}
          月
        %input.user-new-registration__user-pay__forms__menu__deadline__form{name: "deadline-year", placeholder: "19", type: "number"}
          年

      .user-new-registration__user-pay__forms__menus__security-code
        .user-new-registration__user-pay__forms__menus__security-code__label
          .user-new-registration__user-pay__forms__menus__security-code__label__title
            セキュリティコード
          .user-new-registration__user-pay__forms__menus__security-code__label__must
            必須
        %input.user-new-registration__user-pay__forms__menu__security-code__form{name: "security-code", placeholder: "カード背面4桁もしくは3桁の番号", type: "password"}
        .user-new-registration__user-pay__forms__menus__security-code__attention
          ?カード裏面の番号とは？

      .user-new-registration__user-pay__forms__menus__next
        次へ進む


  .user-new-registration__footer
    .user-new-registration__footer__links
      .user-new-registration__footer__links__policy
        プライバシーポリシー
      .user-new-registration__footer__links__terms
        メルカリ利用規約
      .user-new-registration__footer__links__commerce
        特定商取引に関する表記
    .user-new-registration__footer__mercari
      = image_tag("logo_gray.svg", class: ".user-new-registration__footer__mercari__logo", size: "80x65", alt: "logo")
      .user-new-registration__footer__mercari__copyright
        ©️ Mercari, Inc.