= render "top/header-top"


.user-wrapper
  = render 'side'

  .itembuy
    .itembuy__user-address__forms
      .itembuy__user-address__forms__header
        プロフィール
      .itembuy__user-address__forms__menus
        .itembuy__user-address__forms__menus__zip-code
          .itembuy__user-address__forms__menus__zip-code__label
            .itembuy__user-address__forms__menus__zip-code__label__nickname
              ニックネーム：テスト
          .itembuy__user-address__forms__menus__zip-code__form
            %p ここは自己紹介ページ
            %p 年齢
            %p 職業
            %p 住所
            %p 趣味

        .itembuy__user-address__forms__menus__next
          変更する

= render "top/top2"