.destroy__body__all{
  background-color:lightgray;
  .destroy__header__top{
    .logo{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 200px;
    margin-left: 600px;
    }

    .destroy__title{
      background-color:white;
      margin-left: 380px;
      margin-right: 380px;
      border-style: solid;
      border-width: 0;
      height:250px;
      padding-top: 85px;
      .destroy__text__filed{
        margin-top: 80px;
        margin-left:140px;
        cursor: pointer;
        .des-btn{
          width:350px;
          background-color:red;
          height:40px;
          border-radius:10px
        }
        .des-btn2{
          font-size:18px;
          font-family: 'Courier New', Courier, monospace;
          color:white;
          text-align: center;
      }}
  }
}
  .destroy__footer{
    margin-left:520px;
    &__body{
    display:flex;
    font-size:12px;
    line-height: 1.4em;
    opacity: 0.7;
    color: rgb(255,255,255);
    text-decoration: none;
    padding-top:30px;
      .destroy{
      cursor: pointer;
      padding-right:20px;
      }
      .destroy2{
      cursor: pointer;
      padding-right:20px;
      }
      .destroy3{
      cursor: pointer;
      padding-right:20px;
    }
}
}
  .destroy__footer__body__logo{
    width: 100px;
    margin-left: 650px;
  }
}