.credit__body__all2{
  background-color:#F5F5F5;
  margin: 0px;
  padding:0px;
  height:900px;
  .credit__header__top2{
    &__logo2{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 200px;
    margin-left: 600px;
    }
  }
  .credit__title2{
    display: block;
    background-color:white;
    margin-left: 380px;
    margin-right: 380px;
    border-style: solid;
    border-width: 0;
    height: 450px;
    .paypay{
      text-align: center;
      font-size: 22px;
      font-family: 'Courier New', Courier, monospace;
      border-bottom:1px solid lightgrey;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  .content__credit-cards{
    .list-card{
      text-align: center;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  
    .content__credit-cards__list{
      #charge-form{
  
      #card_image{
        margin-left:190px;
      }
      .content__credit-cards__list--pay-num{
        margin-left:230px;
      }
      .content__credit-cards__list__remove{
        margin-top:20px;
        margin-left: 230px;
        background-color:white;
        color:#EA352D;
        border: solid 1px ;
        width:100px;
        height: 30px;
      }
     
      } 
      
    .buy-return{
      margin-top:30px;
      margin-left:226px;
      padding:4px;
      a{
        text-decoration: none;
      }
      .return-btn{
        height: 30px;
      }
      .return{
        color: white;
        background-color: #EA352D;
        font-size: 14px;
        padding:15px;
        width:100px;
      }
    }  
}
}
}
  .credit__footer2{
    margin-left:520px;
    &__body2{
    display:flex;
    font-size:12px;
    line-height: 1.4em;
    opacity: 0.7;
    color: rgb(255,255,255);
    text-decoration: none;
    padding-top:30px;
      .text2-1{
      cursor: pointer;
      padding-right:20px;
      }
      .text2-2{
      cursor: pointer;
      padding-right:20px;
      }
      .text2-3{
      cursor: pointer;
      padding-right:20px;
    }
    a{
      text-decoration: none;
      color:#ccc;
    }
}
}
  .credit__footer__body__logo2{
    width: 100px;
    margin-left: 650px;
    margin-top: 20px;
  }
}