-# 商品出品ページ

.exhibit
  .header
    .header__logo
      .header__logo--btn
        =link_to image_tag("fmarket_logo_red.svg", class: "header__logo--btn"), root_path

  .main
    .main__container
      .container__title
        商品の情報を入力

      = render partial: 'form'

  .footer
    .footer__container
      .footer__container--nav
        .li
          プライバシーポリシー
        .li
          利用規約
        .li
          特定商取引に関する表記
      .footer__container--logo
        =link_to image_tag("fmarket_logo_white.svg", class: "footer__container--logo"), root_path
      .footer__container--copyright
        ©️ Fmarket, Inc.