.bought__body__all{
  background-color:#F5F5F5;
  height: 100vh;
  .bought__header__top{
    &__logo{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 200px;
    margin-left: 600px;
    }

    .bought__title{
      background-color:white;
      margin-left: 380px;
      margin-right: 380px;
      border-style: solid;
      border-width: 0;
      height:250px;
      padding-top: 85px;
      .bought__text__filed{
        margin-top: 80px;
        margin-left:140px;
        cursor: pointer;
        .bought-btn{
          width:350px;
          background-color:#EA352D;
          border:#EA352D;
          height: 50px;
        }
        a{
          text-decoration: none;
        }
        .bought-btn2{
          font-size:18px;
          font-family: 'Courier New', Courier, monospace;
          color:white;
          text-align: center;
      }}
  }
}
  .bought__footer{
    margin-left:520px;
    &__body{
    display:flex;
    font-size:12px;
    line-height: 1.4em;
    opacity: 0.7;
    color: rgb(255,255,255);
    text-decoration: none;
    padding-top:30px;
      .bought{
      cursor: pointer;
      padding-right:20px;
      }
      .bought2{
      cursor: pointer;
      padding-right:20px;
      }
      .bought3{
      cursor: pointer;
      padding-right:20px;
      }
      a{
        text-decoration: none;
        color: #ccc;
      }

}
}
  .bought__footer__body__logo{
    width: 100px;
    margin-left: 650px;
  }
}