.buy__body__all{
  background-color:#F5F5F5;
  .buy__header__top{
    &__logo{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50px;
    margin-left: 600px;
    min-width:200px;
    }
  }
  .buy__body__header{
    display: block;
    height: 150px;
    background-color:white;
    margin-left: 380px;
    margin-right: 380px;
    border-style: solid 1px gray;
    border-width: 0;
    height:700px;
    min-width: 280px;
  
    &__top{
      padding-top: 20px;
      .buy__body__header__text{
      text-align: center;
      font-size: 22px;
      font-family: 'Courier New', Courier, monospace;
      border-bottom:1px solid lightgrey;
      padding-bottom: 20px;
      }
    }
      .buy__product{
        border-bottom:1px solid lightgrey;
        text-align: center;
        &__inner{
          max-width: 343px;
          margin: 0 auto;
          &__body{
                      
            .buy__product__image{
              display:flex;
              &__item{
                height: 80px;
                width: 80px;
                min-width: 80px;
                justify-content: center;
                align-items: center;
                &__name{
                
                }
                
                &__price{
                  font-size:12px;
                  font-family: 'Courier New', Courier, monospace;
                  text-align: center;
                  padding:32px 16px;
                  background-repeat:no-repeat;
                }
              }
            }
          }
        }
      }
    .buy__body__under{
      &__inner{
        
        form{
        
          ul.inner{
          }
            li.inner{
              height:100px;
              position: relative;;
              padding-top:20px;
            }
              div.payprice{
                position:absolute;
                left:200px;
                h3.paypricetext{
                font-size:22px;
                font-family: 'Courier New', Courier, monospace;
                }
              }
              div.inner{
                span.data{

                }
              }
              i.inner{
              }
              label.have{
                padding-top:10px;
                position:absolute;
                top: 50%;
                margin-top: -0.5em;
                left:200px;
                opacity: 0.7;
                color: gray;
                text-decoration: none;
              }
      }

          .buy__body__under__inner__way{
            
            .way{
              border-bottom:1px solid lightgrey;
              border-top:1px solid lightgrey;
              height:100px;
            
              h3{
                margin-top:20px;
                margin-left:200px;
                font-size:13px;
                font-family: 'Courier New', Courier, monospace;
              }
                .way2{
                  display:flex;
                  margin-top:10px;
                  margin-left: 200px;
                  .add{
                  background-color:white;
                  border:solid 1px skyblue ;
                  border-radius:3px;
                  color: blue;
                  margin-right:10px;
                  width: 13px; 
                  text-align:center;
                  }
                    .register1{
                    cursor: pointer;
                    font-size:13px;
                    }
          }
        }
      }
          .buy__body__under__inner__place{
            border-bottom:1px solid lightgrey;
            .place{
              border-bottom:1px solid lightgrey;
              border-top:1px solid lightgrey;
              height:100px;
              h3{
              margin-top:20px;
              margin-left:200px;
              font-size:13px;
              font-family: 'Courier New', Courier, monospace;
              }
              .place2{
                display:flex;
                margin-top:10px;
                margin-left: 200px;
                .add2{
                background-color:white;
                border:solid 1px skyblue ;
                border-radius:3px;
                color: blue;
                margin-right:10px;
                width: 13px; 
                text-align:center;
                }  
                .register2{
                cursor: pointer;
                font-size:13px;
                }
        }
      }
  }
        
        .buy_push{
          margin-top: 80px;
          margin-left:140px;
          cursor: pointer;
          .push_btn{
            width:350px;
            background-color:red;
            height:40px;
            border-radius:10px;
          }
          a{
            text-decoration: none;
          }
          .buy_button{
          font-size:18px;
          font-family: 'Courier New', Courier, monospace;
          color:white;
          text-align: center;
        }  
      }
}
}}
  .buy__footer{
    margin-left:520px;
    height: 100px;
    &__body{
      display:flex;
      font-size:12px;
      line-height: 1.4em;
      opacity: 0.7;
      color: rgb(255,255,255);
      text-decoration: none;
      padding-top:30px;
      .text{
        cursor: pointer;
        padding-right:20px;
      }
      .text2{
        cursor: pointer;
        padding-right:20px;
      }
      .text3{
        cursor: pointer;
        padding-right:20px;
      }
      a{
        text-decoration: none;
        color:#ccc;
      }
    }
  }
    .buy__footer__body__logo{
      width:100px;
      margin-left: 650px;
    }
  }