.buy__body__all{
  background-color:#F5F5F5;
  .buy__header__top{
    &__logo{
    padding-top: 50px;
    padding-bottom: 30px;
    width: 50px;
    margin-left: 600px;
    }
  }
  .buy__body__header{
    display: block;
    height: 150px;
    background-color:white;
    margin-left: 380px;
    margin-right: 380px;
    border-style: solid 1px #F5F5F5;
    border-width: 0;
    height:600px;
    color:black;
  
    &__top{
      padding-top: 20px;
      .buy__body__header__text{
      text-align: center;
      font-size: 22px;
      font-family: 'Courier New', Courier, monospace;
      border-bottom:1px solid #F5F5F5;
      padding-bottom: 20px;
      color: #333333;
      }
    }
      .buy__product{
        border-bottom:1px solid #F5F5F5;
        &__inner{
          &__body{
            padding-top:30px;
            padding-bottom:30px;
            .buy__product__image{
              display:flex;
              justify-content: flex-start;
              margin-left: 100px;
              &__item{
                &__name{
                  margin-left: 30px;
                }
                &__price{
                  margin-left: 30px;
                  font-size:12px;
                  font-family: 'Courier New', Courier, monospace;
                }
              }
            }
          }
        }
      }
      
    .buy__body__under{
      &__inner{
        
        form{
        
          ul.inner{
          }
            li.inner{
              padding-top:30px;
              padding-bottom:30px;
              margin-left: 100px;
            }
              div.payprice{
                left:200px;
                h3.paypricetext{
                font-size:22px;
                font-family: 'Courier New', Courier, monospace;
                }
              }
              div.inner{
                span.data{

                }
              }
              i.inner{
              }
              label.have{
                padding-top:10px;
                top: 50%;
                margin-top: -0.5em;
                left:200px;
                opacity: 0.7;
                color: gray;
                text-decoration: none;
              }
      }

          .alart{
            color: red;
            font-weight: bold;
          }

          .buy__body__under__inner__way{
            
            .way{
              border-bottom:1px solid #F5F5F5;
              border-top:1px solid #F5F5F5;
              height:100px;
            
              h3{
                margin-top:20px;
                margin-left:100px;
                font-size:13px;
                font-family: 'Courier New', Courier, monospace;
              }
                .way2{
                  display:flex;
                  margin-top:10px;
                  margin-left: 100px;
                  a{
                    text-decoration: none;
                    color: skyblue;
                  }
                  .add{
                  background-color:white;
                  border:solid 1px skyblue ;
                  border-radius:3px;
                  color: skyblue;
                  margin-right:10px;
                  width: 13px; 
                  text-align:center;
                  }
                    .register1{
                    cursor: pointer;
                    font-size:13px;
                    }
          }
        }
      }

        .buy_push{
          margin-top: 80px;
          margin-left:130px;
          cursor: pointer;
          .push_btn{
            width:350px;
            background-color:#EA352D;
            border: #EA352D;
            height:40px;
          }
          a{
            text-decoration: none;
          }
          .buy_button{
          font-size:18px;
          font-family: 'Courier New', Courier, monospace;
          color:white;
          text-align: center;
        }  
      }
}
}}
  .buy__footer{
    margin-left:520px;
    height: 100px;
    &__body{
      display:flex;
      font-size:12px;
      line-height: 1.4em;
      opacity: 0.7;
      color: rgb(255,255,255);
      text-decoration: none;
      padding-top:30px;
      .text{
        cursor: pointer;
        padding-right:20px;
      }
      .text2{
        cursor: pointer;
        padding-right:20px;
      }
      .text3{
        cursor: pointer;
        padding-right:20px;
      }
      a{
        text-decoration: none;
        color:#ccc;
      }
    }
  }
    .buy__footer__body__logo{
      width:100px;
      margin-left: 650px;
    }
  }