.wrapper{
  min-height: 100vh;
}

.item-detail-body {
  background-color:#F5F5F5;
  padding-top: 20px;
}

.container {
  background-color: white;
  width:600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 40px;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

  &__item-name {
    font-size:22px;
    text-align: center;
    margin-bottom:20px;
  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.details-cotainer {
  height: 360px;
}
  
.thumbnails-frame {
  width: 250px;
  &__thumbnail {
    width: 50px;
    height: 50px;
    float: left;
  }
}

table {
  font-size: 13px;
  border-collapse: collapse;
  text-align: left;
  color: rgb(51, 51, 51);
}

table th {
  height: 32px;
  width: 115px;
  padding: 3px 10px;
  border: solid 0.5px #F5F5F5;
  background: #F5F5F5;
}

table td {
  width: 155px;
  padding: 3px 10px;
  border: solid 0.5px #F5F5F5;
}

.widerow {
  height: 48px;
}


.price-frame {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  padding: 28px 0;

  &__price {
    font-size: 40px;
    padding-right: 10px;
    display: inline;
  }

  &__pricesale {
    font-size: 40px;
    padding-right: 10px;
    display: inline;
    text-decoration: line-through;
    text-decoration-color:  #EA352D;
  }


  &__text {
    font-size: 10px;
    padding-right: 20px;
    display: inline;
  }

  &__delivery-burden {
    font-size: 15px;
    display: inline;
  }
}

.sale{
  font-size: 40px;
  color: #EA352D;

}


.buy-btn {
  height: 60px;
  width:100%;
  background-color: #EA352D;
  font-weight: bold;
  text-align:center;
  line-height: 60px;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: inline-block;

  &__text {
    font-size: 25px;
    color: white;
    display: inline;
  }

}

.buy-btn2 {
  height: 60px;
  width:100%;
  background-color: #0099E8;
  font-weight: bold;
  text-align:center;
  line-height: 60px;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: inline-block;

  &__text {
    font-size: 25px;
    color: white;
    display: inline;  
  }
}

.description {
  width: 100%;
  padding: 30px 0;
  font-size: 18px;
  text-align: left;
}

.item-footer {
  width: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btns {
    display: flex;

    .radius {
      display: flex;
      margin-right: 17px;
      border-radius: 20px;
      background-color: lightblue;
      padding: 0 15px;
      height: 32px;
      line-height: 38px;
    }
  }

  &__link {
    color: #0099E8;
  }
}

.link-frame {
  height: 30px;
  width:600px;
  line-height: 38px;
  font-size: 13px;
  color: lightblue;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.link-lightblue {
  width:600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size:22px;
  color: #0099E8;
  text-align: left;
}

.details-item-list  {
  width: 600px;
  height: 600px;
  margin: 5px auto;
  &__items{
    &__item{
      width: 180px;
      border: 1px solid #CCCCCC;
      box-shadow: 4px 4px 4px #CCCCCC;
      margin-right: 18px;
      margin-bottom: 18px;
      float: left;
      a{
        text-decoration: none;
      }
      &:hover{
        border: 1px solid #0099E8;
      }
      &__main{
        height: 180px;
        position: relative;
        &__price{
          position: absolute;
          top: 145px;
          left: 0px;
          background-color: rgba(163, 162, 162, 0.5);
          padding: 3px 3px;
          color: white;
          border-radius: 0 10px 10px 0;
        }
      }
      &__name{
        word-wrap: break-word;
        background-color: white;
        height: 50px;
        padding: 10px 7px 10px 7px;
        color: black;
      }
    }
  }
}