// Place all the styles related to the item_exhibit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibit{
  background-color: #f5f5f5;
  padding-bottom: 220px;
  position: relative;

  .header{
    height: 130px;
    &__logo{
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 40px 50% 0 50%;
    }
  }

  .main{
    &__container{
      background-color: white;
      width: 700px;
      margin: 0 auto;

      .container__title{
        padding:35px 20px;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 1px #f5f5f5;
      }

      .form__container{
        .form__image{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__content{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__details{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__delivery{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__sale{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__exhibit{
          border-bottom: solid 1px #f5f5f5;
          padding:40px;
        }
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    padding: 40px 0;
    width: 100%;

    &__container{
      text-align: center;
      &--nav{

      }
      &--logo{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
      }
      &--copyright{
        margin-top: 10px;
      }
    }
  }
}