// Place all the styles related to the item_exhibit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibit{
  background-color: #f5f5f5;
  padding-bottom: 220px;
  position: relative;
  .form__require{
    background: red;
    color: white;
    display: inline;
    padding: 3px;
    border-radius: 4px;
    font-size: 14px;
  }

  .header{
    text-align: center;
    &__logo{
      width: 200px;
      display: inline-block;
      .header__btn{
        margin: 40px 0;
      }
    }
  }

  .main{
    &__container{
      background-color: white;
      width: 700px;
      margin: 0 auto;

      .container__title{
        padding:35px 20px;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 1px #f5f5f5;
      }

      .form__container{
        .form__image{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          .image__title{
            padding-bottom: 5px;
          }
          .image__drop{
            width: 620px;
            height: 160px;
            background-color: #f5f5f5;
            border: dotted 1px #cccccc;
            .drop__text{
              text-align: center;
              padding: 40px;
              height: 80px;
              &--sentence{
                height: 80px;
                padding-top: 20px;
              }
            }
          }
        }
        .form__content{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          .item__name{
            .item__name--title{

            }
            .item__name--form{
              width: 620px;
              height: 50px;
              border:solid 1px #cccccc;
              border-radius: 4px;
              margin-top: 10px;
              .form__text{;
                color:#cccccc;
                height: 50px;
                padding-top: 15px;
                padding-left: 20px;
              }
            }
          }

          .item__description{
            margin-top: 40px;
            .item__description__title{
              padding-bottom: 5px;
            }

            .item__description__form{
              .description__form__text{
                height: 145px;
                border:solid 1px #cccccc;
                padding: 10px;
              }
            }
          }
        }
        .form__details{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          overflow: hidden;
          .form__details__title{
            float: left;
          }
          .details__right{
            width: 400px;
            float: right;
            .form__group{
              .details__title{
                padding-bottom: 5px;
              }
              .details__category__menu{
                border-radius: 4px;
                height: 48px;
                border: solid 1px #cccccc;
                margin-bottom: 40px;
              }
              .details__title{

              }
              .datails__status__menu{
                border-radius: 4px;
                height: 48px;
                border: solid 1px #cccccc;
              }
            }
          }
        }
        .form__delivery{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          overflow: hidden;
          .form__delivery__title{
            float: left;
          }
          .form__delivery__group{
            float: right;
            width: 400px;
            .form__group{
              .delivery__title{
                padding-bottom: 5px;
              }
              .delivery__menu{
                border-radius: 4px;
                height: 48px;
                border: solid 1px #cccccc;
                margin-bottom: 40px;
              }
            }
          }
        }
        .form__sale{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          overflow: hidden;
          .form__sale__title{
            float: left;
          }
          .form__group{
            float: right;
            .sale__group__content{
              width: 400px;
              .sale__title{
                margin-bottom: 25px;
                display: flex;
                height: 50px;
                .sale__title__price{
                  display: inline-block;
                  line-height: 50px;
                  text-align: center;
                }
                .sale__title__box{
                  display: inline-block;
                  width: 200px;
                  height: 50px;
                  margin: 0 0 0 auto;
                  .price__input{
                    width: 160px;
                    height: 50px;
                    margin: 0 0 0 auto;
                    text-align: right;
                    line-height: 50px;
                    border-radius: 4px;
                    padding-right: 10px;
                    border: solid 1px #cccccc;
                  }
                }
              }
              .sale__commission{
                padding: 25px 0;
                border-top: solid 1px #cccccc;
              }
              .sale__menu{
                padding: 25px 0;
                border-top: solid 1px #cccccc;
              }
            }
          }
        }
        .form__exhibit{
          border-bottom: solid 1px #f5f5f5;
          padding:40px;
          overflow: hidden;
          .exhibit__sell{
            background-color: red;
            color: white;
            height: 50px;
            line-height: 50px;
            margin-top: 40px;
            text-align: center;
          }
          .exhibit__back{
            color: white;
            background-color: #aaaaaa;
            text-align: center;
            line-height: 50px;
            height: 50px;
            margin: 25px 25% 0 25%;
          }
        }
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    padding: 40px 0;
    width: 100%;

    &__container{
      text-align: center;
      &--nav{
        display: inline-block;
        .li{
          display: inline-block;
          margin: 0 15px;
        }
      }
      &--logo{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
      }
      &--copyright{
        margin-top: 10px;
      }
    }
  }
}