// Place all the styles related to the item_exhibit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exhibit{
  background-color: #f5f5f5;
  padding-bottom: 220px;
  position: relative;

  .header{
    height: 130px;
    &__logo{
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 40px 50% 0 50%;
    }
  }

  .main{
    &__container{
      background-color: white;
      width: 700px;
      margin: 0 auto;

      .container__title{
        padding:35px 20px;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 1px #f5f5f5;
      }

      .form__container{
        .form__image{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          .image__title{

          }
          .image__drop{
            width: 620px;
            height: 160px;
            background-color: #f5f5f5;
            border: dotted 1px #cccccc;
            .drop__text{
              text-align: center;
              padding: 40px;
              height: 80px;
              &--sentence{
                height: 80px;
                padding-top: 20px;
              }
            }
          }
        }
        .form__content{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          .item__name{
            .item__name--title{

            }
            .item__name--form{
              width: 620px;
              height: 50px;
              border:solid 1px #cccccc;
              border-radius: 4px;
              margin-top: 10px;
              .form__text{;
                color:#cccccc;
                height: 50px;
                padding-top: 15px;
                padding-left: 20px;
              }
            }
          }

          .item__description{
            margin-top: 40px;
            .item__description__title{

            }

            .item__description__form{
              .description__form__text{
                height: 145px;
                width: 620px;
                border:solid 1px #cccccc;
              }
            }
          }
        }
        .form__details{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
          .form__details__title{
            display: block;
            float: left;
          }
          .details__right{
            width: 400px;
            float: right;
            .form__group{
              .details__title{

              }
              .details__category__menu{
                height: 48px;
                border: solid 1px #cccccc;
              }
              .details__title{

              }
              .datails__status__menu{
                height: 48px;
                border: solid 1px #cccccc;
              }
            }
          }
        }
        .form__delivery{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__sale{
          border-bottom: solid 1px #f5f5f5;
          padding: 40px;
        }
        .form__exhibit{
          border-bottom: solid 1px #f5f5f5;
          padding:40px;
        }
      }
    }
  }

  .footer{
    position: absolute;
    bottom: 0;
    padding: 40px 0;
    width: 100%;

    &__container{
      text-align: center;
      &--nav{

      }
      &--logo{
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
      }
      &--copyright{
        margin-top: 10px;
      }
    }
  }
}