.toppage__header{
  width: 1000px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  height:50px;
  padding-right:60px;
  &__top{
    height: 50px;
    display:flex;
    .toppage__header__logo{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .img{
        height: 40px;
        width: 134px;
        -webkit-box-align: center;
        cursor: pointer;
      }
    }
    .toppage__header__search {
      display:flex;
      position: relative;
       &__form{
        width:800px;
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        height: 40px;
        line-height: 1.4em;
        -webkit-appearance: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        outline: none;
        padding: 0px 50px 0px 10px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;      
      }
    
      &__button{
        width: 40px;
        height: 40px;
        line-height: 1.4em;
        cursor: pointer;
        right: 0px;
        top: 0px;
        -webkit-appearance: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;
    }
    .fa-search{
      position: absolute;
      padding-left:830px;
      top: 15px;
    }
  } 
}
} 

//  .fas{
//    margin-left:160px ;
// }

.toppage__choice{
  display:flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 60px;
  line-height: 36px;
  margin-top:3px;
  margin-bottom:4px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 0 4px 4px #CCCCCC;
  padding-bottom: 5px;

  cursor: pointer;
  &__left{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    &__category{
      color: inherit;
      height: 2rem;
      margin-right: 30px;
      font-weight: bold;
    }
    &__brand{
      color: inherit;
      height: 2rem;
      margin-right: 30px;
      font-weight: bold;
    }
  }

  &__right{
    margin-right: 100px;
    &__management{
      display:flex;
      justify-content: flex-start;
      &__good{
        color: inherit;
        font-weight: bold;
      }
      &__information{
        color: inherit;
        margin-left: 30px;
        font-weight: bold;
      }
      &__todolist{
        color: inherit;
        margin-left: 30px;
        font-weight: bold;
      }
      &__mypage{
        color: inherit;
        margin-left: 30px;
        font-weight: bold;
        a{
          color: inherit;
          text-decoration: none;
        }
      }
      &__logout{
        color: #0099E8;
        margin-left: 10px;
        a{
          text-decoration: none;
          color:#0099E8;
          border: 1px solid;
          border-radius: 10%;
          padding: 7px;
        }
        &:hover{
          border: 3px solid white;
          transition: 0.3s ease;
        }
      }
      &__registration{
        color: white;
        margin-left: 30px;
        a{
          text-decoration: none;
          color:white;
          background-color:#EA352D;
          border: 1px solid;
          border-radius: 10%;
          padding: 7px;
        }
        &:hover{
          border: 3px solid white;
          transition: 0.3s ease;
        }
      }
      &__login{
        margin-left: 10px;
        a{
          text-decoration: none;
          color:#0099E8;
          background-color: white;
          border: 1px solid;
          border-radius: 10%;
          padding: 7px;
        }
        &:hover{
          border: 3px solid white;
          transition: 0.3s ease;
        }
      }
    }
  }
}

.choice__category__icon{
  margin-top:10px;
}

.picture1{
  &__scroll{
    display:flex;
    &__scroll1{
      background-image:image-url("gahag-0116277904-1.jpg");
      background-size: cover;
      height: 400px;
      font-family: 'Courier New', Courier, monospace;
      color: white;
      .div1{
        margin-top:20px;
        padding-left: 1000px;
        font-size: 40px;
       }
      .div2{
        padding-left: 1000px;
        font-size: 40px;
      }
      .div3{
        margin-top: 20px; 
        padding-left: 1000px;
        font-size: 20px;
      }
      .div4{
        padding-left: 1000px;
        font-size: 20px;
      }
      .div5{
        padding-left: 1000px;
        display:flex;
        margin-top: 20px;
        &__class1{
          cursor: pointer;
        }
        &__class2{
          cursor: pointer;
          padding-left:30px;
        }
      }
    }
    &__scroll2{
      background-image:image-url("og.jpg");
      background-size: cover;
      height: 400px;
    }
    
  }  


  &__body{
    display:flex;
    height: 100%;
    position: relative;
    margin: 0px auto;
    &__middle{
      position: relative;
      width: 100%;
      padding: 0 40px;
    }
}
}

.major-choice{
  text-align: center;
  padding: 0px 0px 30px;
  h1 {
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
  }
}

.major-category{
  display:flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px -10px;
  padding-bottom: 20px;
  font-weight: bold;
  .major__women{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:#F5F5F5;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;
    margin-right: 10px;

  }
  .major__men{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:#F5F5F5;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;
    margin-right: 10px;
  }

  .major__home{
    color: inherit;
    text-decoration: none;
    padding-right:35px;
    background-color:#F5F5F5;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;
    margin-right: 10px;
  }
  .major__hobby{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:#F5F5F5;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;
  }
}

.new_item__category {
  background-color:whitesmoke;
  height:1000px;
}

.major-brand{
  text-align: center;
  padding: 56px 0px 30px;
  h1 {
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
  }
}
.brand-category{
  display:flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px -10px;
  padding-bottom: 20px;
  .brand__chanel{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:gray;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;

  }
  .brand__vuitton{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:gray;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;

  }

  .brand__supreme{
    color: inherit;
    text-decoration: none;
    padding-right:35px;
    background-color:gray;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;

  }
  .brand__nike{
    color: inherit;
    text-decoration: none;
    padding-right:30px;
    background-color:gray;
    cursor: pointer;
    display:inline-block;
    font-size:14px;
    font-weight: 600px;
    border-radius: 15px;
    padding: 8px 16px;
  }
}

.new_major__category {
  background-color:whitesmoke;
  height:1000px;
}

.itembutton{
  z-index: 1;
  position: absolute;
  position:fixed;
  bottom: 5px;
  right: 5px;
}
