.title{
  font-size: 20px;
}
.ditails{
  line-height: 1.4em;
  // opacity: 0.7;
  color: rgb(255,255,255);
  text-decoration: none;
}
.ditails:hover{
  text-decoration: underline;
  color: red;
}
.ditails:visited{
  color: silver;
  text-decoration: underline;
}
.fab{
  color: rgb(255,255,255);
}
.last{
  color:ivory;
  text-decoration: none;
  font-size: 15 px;
}
.img{
  height: 100px;
  width: 400px;
}

.footer{
  background-color: rgb(34,34,34);
  color: rgb(255,255,255);
  font-size: 12px;
  padding: 0px 40px 20px;
  &__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__menu-1{
      padding: 0px 40px 0px 0px;
      width: auto;
      margin-top: 18px;
      &__d{
        margin: 16px 0px 0px;
      }
    } 
      .a{
        margin: 10px 30px 1px;
        font-size: 35px;
        display:flex;
        justify-content: space-between;
        a{
        text-decoration: unset!important;
        color: rgb(34,34,34);
      }
    }
    &__menu-2{
      padding: 0px 40px 0px 0px;
      width: auto;
      margin-top: 18px;
      &__d{
        margin: 16px 0px 0px;
      }
    }
    &__menu-3{
      padding: 0px 40px 0px 0px;
      margin-top: 18px;
      padding-right: 40px;
      &__d{
        margin: 16px 0px 0px;
      }
    }
    &__menu-4{
      padding: 0px 40px 0px 0px;
      width: auto;
      margin-top: 18px;
      &__d{
        margin: 16px 0px 0px;
      }
    }
  }

  &__footer{
    &__logo{
      display: flex;
      
    }
    &__text{
      text-align: center;
      padding: 80px 60px 0px 240px;
    }
  }
}

