  .credit_page{
    background-color:white;
    margin: 50px 10px 50px 50px;
    width: 750px;
    height:400px;
    .pay-text{
    font-weight:bold;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size:20px;
    text-align: center;
    padding-top:10px;
    border-bottom: 1px solid #F5F5F5;
    }
    .credit_list{
      .pay-text2{
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      font-size:16px;
      font-weight:bold;
      padding-top:30px;
      padding-left:230px;

      }
      .credit_button{
        padding-left:230px;
        padding-top:30px;
        .credit_btn{
        background-color:#EA352D;
        border: #EA352D;
        height: 50px;
        width:300px;
          .btn-text{
            color:white;
            font-size:18px;
          }
          a{
            text-decoration: none;
          }
        }
      }
    }
  }

  
  .content__credit-cards__list{
    #charge-form{
    }
    #card_image{
    margin-left:190px;
    }
    .content__credit-cards__list--pay-num{
    margin-left:230px;
    }
    .content__credit-cards__list__remove{
      margin-top:20px;
      margin-left: 230px;
      background-color:white;
      color:red;
      border: solid 1px red;
      border-radius: 3px;
      width: 90px;
      height: 30px;
    }
    .alert.alert-success{

    }
    .alert.alert-dange{

    }
  }

