.user-new-registration{
  background-color: #F5F5F5;
  height: 100vh;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__header {
    height: 121px;
    display: flex;
    justify-content: center;
    img{
      margin-top: 40px;
    }
  }

  &__contents {
    background-color: white;
    width: 700px;
    height: 360px;
    margin: 0 auto;
    &__header{
    color: #333333;
    font-size: 22px;
    height: 97px;
    text-align: center;
    line-height: 97px;
    border-bottom: 1px solid #F5F5F5;
    font-weight: bold;
    }
    &__menus{
      height: 247px;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 24px 16px 40px;

      &__mail {
        background-color:#EA352D;
        color: white;
        display: block;
        width: 343px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        border-radius: 4px;
        font-size: 14px;
        a{
          text-decoration: none;
          color: white;
        }
      }
      &__facebook{
        background-color:#385185;
        color:white;
        display: block;
        width: 343px;
        height: 50px;
        line-height: 50px;
        margin: 16px auto;
        border-radius: 4px;
        font-size: 14px;
      }
      &__google{
        background-color: white;
        color: #333333;
        display: block;
        width: 343px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        border: 1px solid #979797;
        border-radius: 4px;
        font-size: 14px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    &__links {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      &__policy {
        color: #333;
        font-size: 12px;
        display: block;
      }
      &__terms {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
      &__commerce {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
    }
    &__mercari{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      &__logo {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
      &__copyright {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
    }
  }
}