.user-new-registration__telephone-number-conform{
  background-color: #F5F5F5;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__header {
    height: 121px;
    display: flex;
    justify-content: center;
    img{
      padding-top: 40px;
    }
    &__navi{
      padding-top: 40px;
      &__charts {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        &__info{
          color:#EA352D;
        }
        &__tele{
          color:#EA352D;
        }
        &__address{
          color:#EA352D;
        }
      }
      &__arrow {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        &__info{
          color:#EA352D;
        }
        &__tele{
          color:#EA352D;
        }
        &__address{
          color:#EA352D;
        }
      }
    }
  }

  &__forms {
    background-color: white;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    padding-bottom: 40px;
    &__header{
      color: #333333;
      font-size: 22px;
      height: 97px;
      text-align: center;
      line-height: 97px;
      border-bottom: 1px solid #F5F5F5;
      font-weight: bold;
    }
    &__menus{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 328px;
      padding: 24px 16px 40px;
        &__conform-number{
          border-bottom: 1px solid #F5F5F5;
          padding-bottom: 50px;
          &__label{
            padding-bottom:5px;
            &__title{
              font-weight: bold;
              text-align: left;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
          &__attention{
            font-size: 13px;
            color: black;
          }
          &__btn{
            background-color:#EA352D;
            color: white;
            display: block;
            width: 328px;
            height: 50px;
            line-height: 50px;
            margin: 30px auto;
            text-align: center;
            font-size: 14px;
          }
        }

        &__phone{
          border-bottom: 1px solid #F5F5F5;
          margin-top: 50px;
          &__label{
            &__title{
              font-weight: bold;
              text-align: left;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
          &__attention{
            font-size: 14px;
            font-weight: bold;
            color: #888888;
          }
          &__btn{
            background-color:#EA352D;
            color: white;
            display: block;
            width: 328px;
            height: 50px;
            line-height: 50px;
            margin: 30px auto;
            text-align: center;
            font-size: 14px;
          }
        }

        &__next{
          background-color:#EA352D;
          color: white;
          display: block;
          width: 328px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 30px;
          text-align: center;
          font-size: 14px;
        }

        &__note{
          font-size: 14px;
          text-align: center;
        }

        &__about{
          text-align: right;
          font-size: 14px;
          color: #888888;
        }
    }
  }


  &__footer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    &__links {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      &__policy {
        color: #333;
        font-size: 12px;
        display: block;
      }
      &__terms {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
      &__commerce {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
    }
    &__mercari{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      &__logo {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
      &__copyright {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
    }
  }
}