.user-new-registration__user-address{
  background-color: #F5F5F5;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__header {
    height: 121px;
    display: flex;
    justify-content: center;
    img{
      padding-top: 40px;
    }
    &__navi{
      padding-top: 40px;
      &__charts {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        &__info{
          color:#EA352D;
        }
        &__tele{
          color:#EA352D;
        }
        &__address{
          color:#EA352D;
        }
      }
      &__arrow {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        &__info{
          color:#EA352D;
        }
        &__tele{
          color:#EA352D;
        }
        &__address{
          color:#EA352D;
        }
      }
    }
  }

  &__forms {
    background-color: white;
    width: 700px;
    height: 1100px;
    margin: 0 auto;
    padding-bottom: 40px;
    &__header{
      color: #333333;
      font-size: 22px;
      height: 97px;
      text-align: center;
      line-height: 97px;
      border-bottom: 1px solid #F5F5F5;
      font-weight: bold;
    }
    &__menus{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 343px;
      padding: 24px 16px 40px;
        &__namae-kanji{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__namae-kana{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__zip-code{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__prefectures{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }
      
        &__municipalities{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__address{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #EA352D;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__building{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #979797;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__phone-number{
          margin-bottom: 20px;
          &__label{
            display: flex;
            justify-content: flex-start;
            padding-bottom: 5px;
            &__title{
              font-weight: bold;
            }
            &__must{
              background-color: #979797;
              color: white;
              margin-left: 10px;
            }
          }
          input {
            width: 343px;
            height: 48px;
          }
        }

        &__next{
          background-color:#EA352D;
          color: white;
          display: block;
          width: 328px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          text-align: center;
          font-size: 14px;
        }
    }
  }


  &__footer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    &__links {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      &__policy {
        color: #333;
        font-size: 12px;
        display: block;
      }
      &__terms {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
      &__commerce {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
    }
    &__mercari{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      &__logo {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
      &__copyright {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
    }
  }
}