.user-new-registration__completion-registration{
  background-color: #F5F5F5;
  height: 100vh;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  &__header {
    height: 121px;
    display: flex;
    justify-content: center;
    img{
      padding-top: 40px;
    }
    &__navi{
      padding-top: 40px;
      &__charts {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        &__info{
          color:#EA352D;
        }
        &__tele{
          color:#EA352D;
        }
        &__address{
          color:#EA352D;
        }
        &__pay{
          color:#EA352D;
        }
        &__end{
          color:#EA352D;
        }
      }
      &__arrow {
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        letter-spacing: -0.2em;
        &__info{
          color:#EA352D;
          z-index:1;
        }
        &__info-line{
          hr{
          width: 70px;
          height: 3px;
          background-color:#EA352D;
          color: #EA352D;
          border-width: 0;
          margin-right: -5px;
          }
        }

        &__tele{
          color:#EA352D;
          z-index:1;
        }
        &__tele-line{
          hr{
          width: 70px;
          height: 3px;
          background-color:#EA352D;
          color: #EA352D;
          border-width: 0;
          margin-right: -5px;
          }
        }

        &__address{
          color:#EA352D;
          z-index:1;
        }
        &__address-line{
          hr{
          width: 70px;
          height: 3px;
          background-color:#EA352D;
          color: #EA352D;
          border-width: 0;
          margin-right: -5px;
          }
        }

        &__pay{
          color:#EA352D;
          z-index:1;
        }
        &__pay-line{
          hr{
          width: 70px;
          height: 3px;
          background-color:#EA352D;
          color:#EA352D;
          border-width: 0;
          margin-right: -5px;
          }
        }

        &__end{
          color:#EA352D;
          z-index:1;
        }
      }
    }
  }

  &__forms {
    background-color: white;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
    &__header{
      color: #333333;
      font-size: 22px;
      height: 97px;
      text-align: center;
      line-height: 97px;
      border-bottom: 1px solid #F5F5F5;
      font-weight: bold;
    }
    &__menus{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 328px;
      padding: 24px 16px 40px;
        &__contents{
          text-align: center;
        }

        &__start{
          background-color:#EA352D;
          color: white;
          display: block;
          width: 328px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 30px;
          text-align: center;
          font-size: 14px;
          margin-bottom: 20px;
          a{
            text-decoration: none;
            color: white;
          }
        }

        img{
          margin: 0 auto;
        } 
    }
  }



  &__footer {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    &__links {
      display: flex;
      justify-content: flex-start;
      margin: 0 auto;
      &__policy {
        color: #333;
        font-size: 12px;
        display: block;
      }
      &__terms {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
      &__commerce {
        color: #333;
        font-size: 12px;
        display: block;
        padding-left: 20px;
      }
    }
    &__mercari{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 40px 0;
      &__logo {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
      &__copyright {
        color: #333;
        font-size: 12px;
        display: block;
        text-align: center;
      }
    }
  }
}