.logout{
  margin: 50px 10px 50px 50px;
  width: 750px;
  &__contents{
    width: 550px;
    height:75px;
    background-color: white;
    padding: 60px;
    &__btn{
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      height: 50px;
      width: 300px;
      line-height: 50px;
      text-align: center;
      display: block;
      background-color:#EA352D;
      color: white;
      margin: 0 auto;
      a{
        text-decoration: none;
        color:white
      }
    }
  }
}